## Importing Libraries

In [1]:
# libraries for loading and preprocessing / cleaning 
import numpy as np 
import pandas as pd

## Loading Dataset

In [2]:
## loading dataset
data = pd.read_csv('Datasets/Toyota.csv')

In [3]:
## creating a copy 
df = data.copy()

## Dataset Overview

In [4]:
## display the first five rows 
df.head()

,Unnamed: 0,Price,Age,KM,FuelType,HP,MetColor,Automatic,CC,Doors,Weight
0,0,13500,23.0,46986,Diesel,90,1.0,0,2000,three,1165
1,1,13750,23.0,72937,Diesel,90,1.0,0,2000,3,1165
2,2,13950,24.0,41711,Diesel,90,NaN,0,2000,3,1165
3,3,14950,26.0,48000,Diesel,90,0.0,0,2000,3,1165
4,4,13750,30.0,38500,Diesel,90,0.0,0,2000,3,1170

In [5]:
## displaying the last five rows  
df.tail()

,Unnamed: 0,Price,Age,KM,FuelType,HP,MetColor,Automatic,CC,Doors,Weight
1431,1431,7500,NaN,20544,Petrol,86,1.0,0,1300,3,1025
1432,1432,10845,72.0,??,Petrol,86,0.0,0,1300,3,1015
1433,1433,8500,NaN,17016,Petrol,86,0.0,0,1300,3,1015
1434,1434,7250,70.0,??,NaN,86,1.0,0,1300,3,1015
1435,1435,6950,76.0,1,Petrol,110,0.0,0,1600,5,1114

## Understanding the dataset

In [6]:
## lets get the concise summary of the data
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1436 entries, 0 to 1435
Data columns (total 11 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  1436 non-null   int64
 1   Price       1436 non-null   int64
 2   Age         1336 non-null   float64
 3   KM          1436 non-null   object
 4   FuelType    1336 non-null   object
 5   HP          1436 non-null   object
 6   MetColor    1286 non-null   float64
 7   Automatic   1436 non-null   int64
 8   CC          1436 non-null   int64
 9   Doors       1436 non-null   object
 10  Weight      1436 non-null   int64
dtypes: float64(2), int64(5), object(4)
memory usage: 123.5+ KB

In [7]:
## finding missing values 
df.isnull().sum()

Unnamed: 0      0
Price           0
Age           100
KM              0
FuelType      100
HP              0
MetColor      150
Automatic       0
CC              0
Doors           0
Weight          0
dtype: int64

In [8]:
## display the total number of rows and cols 
print(f"Total rows: {df.shape[0]} and Total cols: {df.shape[1]}")

Total rows: 1436 and Total cols: 11

In [9]:
## check the size data 
df.size

15796

In [10]:
## lets get the types on the cols 
df.dtypes

Unnamed: 0      int64
Price           int64
Age           float64
KM             object
FuelType       object
HP             object
MetColor      float64
Automatic       int64
CC              int64
Doors          object
Weight          int64
dtype: object

In [11]:
## display to the total count for unique items in the cols 
df.nunique()

Unnamed: 0    1436
Price          236
Age             77
KM            1256
FuelType         3
HP              13
MetColor         2
Automatic        2
CC              12
Doors            7
Weight          59
dtype: int64

In [12]:
## display the unique data in price 
df['Price'].unique()

array([13500, 13750, 13950, 14950, 12950, 16900, 18600, 21500, 20950,
       19950, 19600, 22500, 22000, 22750, 17950, 16750, 16950, 15950,
       16250, 17495, 15750, 15500, 14750, 19000, 15800, 21950, 20500,
       13250, 15250, 18950, 15999, 16500, 18750, 22250, 12995, 18450,
       16895, 14900, 17250, 15450, 16650, 17450, 16450, 18900, 18990,
       18500, 19450, 18800, 32500, 31000, 31275, 24950, 22950, 24990,
       17900, 19250, 16350, 21750, 15850, 23000, 19900, 23950, 24500,
       17200, 19500, 16868, 19750, 20750, 17650, 17795, 18245, 23750,
       18700, 21125,  6950,  9500, 11950,  7750,  4350,  4750, 11750,
       11900,  9950, 11495, 11250, 10500, 10450, 11500, 12500, 10950,
       11450, 11790, 12450, 11690, 12750, 11925, 12900, 11650, 10850,
        9940, 13450, 12495, 12000, 11480, 14990, 12850, 11700, 11895,
       13875, 12295, 13995,  9900, 11990, 10750, 11695, 11000, 12400,
       12200, 12695, 14350, 10250,  6500,  6400,  7000,  8900,  8500,
        8950,  9250,  9450,  8250,  4450,  9000,  5150,  7900, 10900,
        9750, 11290, 10895, 10995,  9850,  8695, 10990,  8750,  9930,
        9799,  9700,  9990,  9475, 10000, 10495,  9400,  9650,  9550,
       13000, 11710,  9980, 12250, 11930, 10800, 10600,  7500,  5950,
        6900,  5751,  7950,  6250,  8450,  7350,  9800,  7995,  8600,
        7250,  8000,  8495,  9895,  7999,  8490,  8150,  7450,  9130,
        8990,  8995,  9995, 10400,  8800,  7800,  8100,  8200, 10295,
        9795, 10350,  8400,  8895,  9390,  8745,  8850,  9695,  9245,
        5900,  6000,  5250,  4400,  6750,  6150,  5750,  5800,  5740,
        6550,  6450,  5600,  6650,  7600,  7460,  6800,  8700,  6640,
        8050,  7795,  6490,  6425,  6495,  6990,  7200,  7300,  9200,
        7850,  7495,  7990,  7490,  7145,  7400,  6999,  7499,  7150,
        5845, 10845])

In [13]:
for each_col in df.columns:
    print(df[each_col].unique())

[   0    1    2 ... 1433 1434 1435]
[13500 13750 13950 14950 12950 16900 18600 21500 20950 19950 19600 22500
 22000 22750 17950 16750 16950 15950 16250 17495 15750 15500 14750 19000
 15800 21950 20500 13250 15250 18950 15999 16500 18750 22250 12995 18450
 16895 14900 17250 15450 16650 17450 16450 18900 18990 18500 19450 18800
 32500 31000 31275 24950 22950 24990 17900 19250 16350 21750 15850 23000
 19900 23950 24500 17200 19500 16868 19750 20750 17650 17795 18245 23750
 18700 21125  6950  9500 11950  7750  4350  4750 11750 11900  9950 11495
 11250 10500 10450 11500 12500 10950 11450 11790 12450 11690 12750 11925
 12900 11650 10850  9940 13450 12495 12000 11480 14990 12850 11700 11895
 13875 12295 13995  9900 11990 10750 11695 11000 12400 12200 12695 14350
 10250  6500  6400  7000  8900  8500  8950  9250  9450  8250  4450  9000
  5150  7900 10900  9750 11290 10895 10995  9850  8695 10990  8750  9930
  9799  9700  9990  9475 10000 10495  9400  9650  9550 13000 11710  9980
 12250 11930 10800 10600  7500  5950  6900  5751  7950  6250  8450  7350
  9800  7995  8600  7250  8000  8495  9895  7999  8490  8150  7450  9130
  8990  8995  9995 10400  8800  7800  8100  8200 10295  9795 10350  8400
  8895  9390  8745  8850  9695  9245  5900  6000  5250  4400  6750  6150
  5750  5800  5740  6550  6450  5600  6650  7600  7460  6800  8700  6640
  8050  7795  6490  6425  6495  6990  7200  7300  9200  7850  7495  7990
  7490  7145  7400  6999  7499  7150  5845 10845]
[23. 24. 26. 30. 32. 27. 25. 22. 31. 28. 29. nan 20. 19. 17. 11. 18. 13.
 14.  4.  8.  7. 16. 15. 10. 12.  9.  6.  2.  1. 43. 38. 40. 44. 41. 37.
 39. 42. 35. 34. 33. 36. 53. 51. 54. 45. 55. 48. 52. 49. 56. 50. 47. 46.
 58. 68. 59. 62. 65. 67. 64. 60. 61. 66. 57. 63. 73. 79. 78. 74. 77. 69.
 80. 76. 70. 71. 75. 72.]
['46986' '72937' '41711' ... '30964' '20544' '17016']
['Diesel' nan 'Petrol' 'CNG']
['90' '????' '192' '110' '97' '71' '116' '98' '69' '86' '72' '107' '73']
[ 1. nan  0.]
[0 1]
[2000 1800 1900 1600 1400 1598 1995 1398 1300 1587 1975 1332]
['three' '3' '5' '4' 'four' 'five' '2']
[1165 1170 1245 1185 1105 1065 1120 1100 1255 1270 1110 1195 1180 1075
 1130 1275 1060 1115 1265 1260 1125 1155 1045 1480 1320 1280 1135 1090
 1150 1085 1160 1205 1084 1140 1095 1025 1119 1080 1121 1615 1067 1040
 1030 1055 1050 1103 1070 1035 1015 1000 1078 1079 1109 1020 1010 1114
 1172 1094 1083]

## Preprocessing / Cleaning Dataset 
- drop the Unnamed column
- Replace special characters
- Change the column types
- missing values

In [14]:
## deleting col
del df['Unnamed: 0']

In [15]:
## 
df['KM'] = df['KM'].replace('??', np.nan)

In [16]:
## 
df['HP'] = df['HP'].replace('????', np.nan)

In [17]:
##
df['Doors'] = df['Doors'].replace('three', 3)
df['Doors'] = df['Doors'].replace('four', 4) 
df['Doors'] = df['Doors'].replace('five', 5)

In [20]:
##
df['KM'] = df['KM'].astype('float64')

In [22]:
## 
df['FuelType'] = df['FuelType'].astype('category')

In [24]:
## 
df['HP']  = df['HP'].astype('float64')

In [25]:
## 
df['MetColor'] = df['MetColor'].astype('category')

In [26]:
df['Automatic'] = df['Automatic'].astype('category')

In [27]:
df['Doors'] = df['Doors'].astype('category')

In [31]:
df['CC'] = df['CC'].astype('category')

In [33]:
## 
df['KM'] = df['KM'].fillna(df['KM'].mean())

In [34]:
## 
df['HP'] = df['HP'].fillna(df['HP'].mean())

In [35]:
## 
df['Age'] = df['Age'].fillna(df['Age'].mean())

In [37]:
df['MetColor'].value_counts()

MetColor
1.0    868
0.0    418
Name: count, dtype: int64

In [38]:
df['MetColor'] = df['MetColor'].fillna(df['MetColor'].value_counts().index[0])

In [39]:
df['FuelType'].value_counts()

FuelType
Petrol    1177
Diesel     144
CNG         15
Name: count, dtype: int64

In [40]:
df['FuelType'] = df['FuelType'].fillna(df['FuelType'].value_counts().index[0])

In [41]:
df.isnull().sum()

Price        0
Age          0
KM           0
FuelType     0
HP           0
MetColor     0
Automatic    0
CC           0
Doors        0
Weight       0
dtype: int64

In [43]:
## 
df['KM'] = df['KM'].astype('int64')

In [44]:
## 
df['Age'] = df['Age'].astype('int64')

In [45]:
## 
df.to_csv('cleaned_toyota.csv')

In [ ]:
matplotlib and seaborn